{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container">
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                </td>
                <td>&euro;{{ product.price|number_format(2, ',', '.') }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
